@import '~bootstrap/scss/bootstrap';

body {
	padding: 0;
	margin: 0;
}

.note-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	span {
		font-size: 1.3rem;
	}
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.item-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}

.item-exit-active {
  animation: note 800ms ease-out forwards;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: .7;
    transform: translateX(60px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.anim-opacity {
  animation: opacity 500ms linear forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

